.Link {
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease color;
}

.Active {
  text-decoration: none;
  color: #ffc107;
}

.Link:hover {
  color: #ffc107;
}

.Img {
  height: 80px;
  width: 80px;
  margin: 20px;
}